<html>
  {% extends 'base.html%} 
  {% block contents %}
  <body>
    <div class="container">
        {% if error %}
        {{ error }}
        <br><br>
        {% endif %}
      <h1>Login</h1>
      <form action="{% url 'login %}" method="POST">
        {% csrf_token %}
         Username:
        <br />
        <input type="text" name="username" value="" />
        <br />
        <input type="password" name="password" value="" />
        <br />
        <input type="submit" class="btn btn-primary" value="Login" />
      </form>
    </div>
    {% endblock %}
  </body>
</html>
